-e git+https://github.com/larioandr/pydesim.git@v0.1.5#egg=pydesim
-e git+https://github.com/larioandr/pyqumo.git@v0.1.3#egg=pyqumo
-e git+https://github.com/larioandr/pycsmaca.git@v0.1.2#egg=pycsmaca
